#header {
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1vw;
  justify-content: space-around;
  margin: 0 auto;
  position: relative;
}

#header-img {
  max-height: 5vh;
}

@media screen and (min-width: 1440px) {
  html {
    font-size: 3rem;
  }
}

#nav-bar {
  margin-top: 5vh;
  position: fixed;
}
